.progressBar{padding-top:10px;padding-bottom:10px;margin-top:10px;margin-bottom:10px;border:1px solid #ccc;transition:0.3s ease-in;background:#3a99f7;border-radius:0px 4px 4px 0px}button{margin-top:10px}.content{margin:50px auto;text-align:center;width:70%;border:3px dotted #ccc;border-radius:4px}.barSelect{margin-bottom:30px}button{cursor:pointer;margin-right:10px;padding:6px 12px;background-color:#3f3f40;color:white;border-radius:5px;border:1px solid #3f3f40;margin-top:10px;margin-bottom:10px}select{padding:6px 12px;border-radius:4px;margin-top:10px;margin-bottom:10px}.loader{background-color:#333;opacity:.8;position:absolute;width:100%;top:0px;bottom:0px;left:0px;right:0px;text-align:center}.loader p{font-size:33px;margin:100px auto;color:white}@media (max-width: 768px){.content{width:100%}}@media (max-width: 1920px){.content{width:50%}}
/*# sourceMappingURL=progressBar.css.map */
